@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700,400|Roboto:700,400");
* {
  box-sizing: border-box;
  
}

body {
  background-color: #EBC39E
}
h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  margin-top: 2vh;
  /* identical to box height */
  
  /* display: flex; */
  align-items: center;
  text-align: center;
  
  color: #E68668;
}

p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  padding: 0px 12px;
  /* display: flex; */
  align-items: center;
  text-align: center;
  color: #000000;
}

.carrot {
  background-color: transparent;
  flex-shrink: 0;
  height: 160px;
  margin:10px;
  padding:5px;
}

form {
  // background-color: green;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 200px;
  margin: auto;
  flex-direction: column;
}

.add-item-field {
  display: inline-block;
  height: 200vw;
  width: 50vw;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  align-items: center;
  text-align: left;
  margin-top: 75px;
}
