@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700,400|Roboto:700,400");
* {
  box-sizing: border-box;
  
}

body {
  background-color: #EBC39E
}
h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding:50px;
  /* identical to box height */
  
  /* display: flex; */
  align-items: center;
  text-align: center;
  
  color: #E68668;
}

p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  padding: 0px 12px;
  /* display: flex; */
  align-items: center;
  text-align: center;
  color: #000000;
}

.carrot {
  background-color: transparent;
  flex-shrink: 0;
  height: 160px;
  margin:10px;
  padding:5px;
}

.table-button {
  color: black;
  background-color: #E68668;
  cursor: pointer;
}