@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@700&display=swap');
* {
  // box-sizing: border-box;
}
.home-page {
  background-color: #C3DBBA;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.heading img {
  display: block;
  width: 153px;
  margin-left: auto;
  margin-right: auto
}

.heading h1 { 
  color: black;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 66px;
  // margin-top: 100px;
  /* identical to box height */
  
  /* display: flex; */
  align-items: center;
  text-align: center;
  
}

.heading p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 23px;
  padding: 0px 12px;
  margin-top: 1rem;
  /* display: flex; */
  align-items: center;
  text-align: center;

  color: #518D5A;
}

.homepage-buttons {
  display:inline-block;
  padding: 5em;
}

.menuButtons {
  background-color: #518D5A;
  align-items: center;
  display: inline-block;
  justify-content: space-around;
  width: 250px;
  height: 100px;
  margin-left: 40px;
  margin-bottom: 40px;
  padding: 40px;
  border:3px solid black;

  color: white;
  display: inline-block;
  padding: 0px 12px;
  cursor: pointer;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 95px;
}


.menuButtons button:hover {
  background-color: #62af6f;
  transition: 0.5s
}

.alerts, .recommended-recipe {
  background-color: #EBC39E;
  width: 90vw;
  height:300px;
  margin-bottom: 100px;

}

.alerts-header, .recommended-recipe-header {
  background-color: #E68668;
  height:75px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.alerts h2, .recommended-recipe h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  padding: 15px;
}

.alerts ul, .recommended-recipe p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15x;
  line-height: 20px;
  margin-top: 30px;
  text-align: center;
}

