@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@700&display=swap');
* {
  box-sizing: border-box;
}

.input {
  background-color: transparent;
}


h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  margin-top: 2vh;
  /* identical to box height */
  
  /* display: flex; */
  align-items: center;
  text-align: center;
  
  color: #E68668;
}

p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  padding: 0px 12px;
  /* display: flex; */
  align-items: center;
  text-align: center;
  color: #000000;
}

input {
  display: none;
}

.form {
  margin: auto;
  display: flex;
  background-color: blue;
  text-align: center;
}

.buttons {
  display:flex;
  // background-color: purple;
  flex-direction: column;
  justify-content: center;
}

.choose-file-button {
  background-color: #518D5A;
  align-items: center;
  display: inline-block;
  justify-content: center;
  width: 45vw;
  height: 95px;
  margin-top: 10vh;
  
}

.choose-file-button:hover {
  background-color: #62af6f;
  transition: 0.5s
}

.custom-file-upload {
  // border: 1px solid #ccc;
  
  // background-color:red;
  color: white;
  display: inline-block;
  padding: 0px 12px;
  cursor: pointer;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 95px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.submit-button {
  background-color: #565656;
  // align-items: center;
  display: inline-block;
  // justify-content: center;
  // text-align: center;
  width: 15vw;
  height: 60px;
  margin-top: 2vh;
  margin-left:auto;
  margin-right:auto;
}

.submit-button:hover {
  background-color: #333333;
  transition: 0.5s
}

.submit-file{
  // background-color: red;
  color: white;
  display: inline-block;
  padding: 0px 12px;
  cursor: pointer;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 60px;

  display: flex;
  // flex-direction: column;
  // align-items: center;
  justify-content: center;
}

.carrot {
  background-color: transparent;
  flex-shrink: 0;
  height: 160px;
  margin:10px;
  padding:5px;
}